{% extends 'base.html.twig' %}


{% block layout %}
    <div class="template-public">
        <div class="sidebar background-theme">
            <a href=""><img src="{{ asset('image/logo-f1.png')}}" alt=""></a>

            <ul>
                <li><a class="sidebar-link" href="{{ path('admin')}}"><i class="fas fa-users-cog"></i></a></li>
                <li><a class="sidebar-link" href="{{ path('index')}}"><i class="fas fa-home"></i></a></li>
                <li><a class="sidebar-link" href="{{ path('circuit_index')}}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 30 30">
                            <g id="surface1">
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 10.933594 16.554688 C 10.933594 16.179688 10.628906 15.875 10.253906 15.875 L 7.875 15.875 C 7.5 15.875 7.195312 16.179688 7.195312 16.554688 L 7.195312 18.933594 C 7.195312 19.308594 7.5 19.613281 7.875 19.613281 L 10.253906 19.613281 C 10.628906 19.613281 10.933594 19.308594 10.933594 18.933594 Z M 10.933594 16.554688 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 16.875 16.554688 C 16.875 16.179688 16.570312 15.875 16.195312 15.875 L 13.816406 15.875 C 13.441406 15.875 13.136719 16.179688 13.136719 16.554688 L 13.136719 18.933594 C 13.136719 19.308594 13.441406 19.613281 13.816406 19.613281 L 16.195312 19.613281 C 16.570312 19.613281 16.875 19.308594 16.875 18.933594 Z M 16.875 16.554688 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 22.816406 16.554688 C 22.816406 16.179688 22.507812 15.875 22.132812 15.875 L 19.757812 15.875 C 19.378906 15.875 19.074219 16.179688 19.074219 16.554688 L 19.074219 18.933594 C 19.074219 19.308594 19.378906 19.613281 19.757812 19.613281 L 22.132812 19.613281 C 22.507812 19.613281 22.816406 19.308594 22.816406 18.933594 Z M 22.816406 16.554688 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 10.933594 22.496094 C 10.933594 22.121094 10.628906 21.816406 10.253906 21.816406 L 7.875 21.816406 C 7.5 21.816406 7.195312 22.121094 7.195312 22.496094 L 7.195312 24.875 C 7.195312 25.25 7.5 25.554688 7.875 25.554688 L 10.253906 25.554688 C 10.628906 25.554688 10.933594 25.25 10.933594 24.875 Z M 10.933594 22.496094 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 16.875 22.496094 C 16.875 22.121094 16.570312 21.816406 16.195312 21.816406 L 13.816406 21.816406 C 13.441406 21.816406 13.136719 22.121094 13.136719 22.496094 L 13.136719 24.875 C 13.136719 25.25 13.441406 25.554688 13.816406 25.554688 L 16.195312 25.554688 C 16.570312 25.554688 16.875 25.25 16.875 24.875 Z M 16.875 22.496094 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 22.816406 22.496094 C 22.816406 22.121094 22.507812 21.816406 22.132812 21.816406 L 19.757812 21.816406 C 19.378906 21.816406 19.074219 22.121094 19.074219 22.496094 L 19.074219 24.875 C 19.074219 25.25 19.378906 25.554688 19.757812 25.554688 L 22.132812 25.554688 C 22.507812 25.554688 22.816406 25.25 22.816406 24.875 Z M 22.816406 22.496094 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 27.066406 3.339844 L 27.066406 6.972656 C 27.066406 8.613281 25.734375 9.933594 24.09375 9.933594 L 22.21875 9.933594 C 20.578125 9.933594 19.230469 8.613281 19.230469 6.972656 L 19.230469 3.328125 L 10.78125 3.328125 L 10.78125 6.972656 C 10.78125 8.613281 9.429688 9.933594 7.792969 9.933594 L 5.917969 9.933594 C 4.277344 9.933594 2.945312 8.613281 2.945312 6.972656 L 2.945312 3.339844 C 1.511719 3.382812 0.332031 4.570312 0.332031 6.03125 L 0.332031 27.304688 C 0.332031 28.789062 1.535156 30.007812 3.023438 30.007812 L 26.988281 30.007812 C 28.46875 30.007812 29.675781 28.785156 29.675781 27.304688 L 29.675781 6.03125 C 29.675781 4.570312 28.5 3.382812 27.066406 3.339844 Z M 26.195312 25.980469 C 26.195312 26.621094 25.671875 27.140625 25.03125 27.140625 L 4.925781 27.140625 C 4.285156 27.140625 3.765625 26.621094 3.765625 25.980469 L 3.765625 14.988281 C 3.765625 14.347656 4.285156 13.828125 4.925781 13.828125 L 25.03125 13.828125 C 25.671875 13.828125 26.195312 14.347656 26.195312 14.988281 Z M 26.195312 25.980469 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 5.910156 7.988281 L 7.765625 7.988281 C 8.328125 7.988281 8.78125 7.53125 8.78125 6.96875 L 8.78125 1.019531 C 8.78125 0.457031 8.328125 0 7.765625 0 L 5.910156 0 C 5.347656 0 4.890625 0.457031 4.890625 1.019531 L 4.890625 6.96875 C 4.890625 7.53125 5.347656 7.988281 5.910156 7.988281 Z M 5.910156 7.988281 "/>
                                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 22.195312 7.988281 L 24.050781 7.988281 C 24.613281 7.988281 25.066406 7.53125 25.066406 6.96875 L 25.066406 1.019531 C 25.066406 0.457031 24.613281 0 24.050781 0 L 22.195312 0 C 21.632812 0 21.175781 0.457031 21.175781 1.019531 L 21.175781 6.96875 C 21.175781 7.53125 21.632812 7.988281 22.195312 7.988281 Z M 22.195312 7.988281 "/>
                            </g>
                        </svg></a></li>
                <li><a href="{{ path('classement') }}"><svg height="25" viewBox="0 0 512 512.00096" width="25" xmlns="http://www.w3.org/2000/svg"><path d="m188.027344 209.160156 67.960937-35.726562 67.960938 35.726562-12.980469-75.671875 54.980469-53.597656-75.980469-11.039063-33.980469-68.851562-33.980469 68.851562-75.984374 11.039063 54.980468 53.597656zm0 0"/><path d="m0 299.449219h150.660156v212.550781h-150.660156zm0 0"/><path d="m361.316406 359.492188h150.660156v152.507812h-150.660156zm0 0"/><path d="m180.65625 239.402344h150.660156v272.597656h-150.660156zm0 0"/></svg></a></li>
                <li><a href="{{ path('pilote_index')}}"><svg height="25" viewBox="0 -63 512.00043 512" width="25" xmlns="http://www.w3.org/2000/svg"><path d="m51.816406 338.128906c6.695313 12.992188 11.941406 23.15625 13.527344 26.023438 7.089844 12.839844 20.367188 20.824218 34.660156 20.84375l372.355469.058594c10.582031 0 20.535156-4.125 28.019531-11.609376 7.492188-7.488281 11.621094-17.457031 11.621094-28.058593v-7.253907h-460.183594zm0 0"/><path d="m97.722656 180.5625c-14.3125 0-25.957031 11.644531-25.957031 25.957031s11.644531 25.957031 25.957031 25.957031 25.957032-11.644531 25.957032-25.957031-11.644532-25.957031-25.957032-25.957031zm0 0"/><path d="m512 283.710938c0-3.929688-.703125-7.332032-1.351562-10.210938-.214844-.941406-.550782-2.199219-.949219-3.574219l-244.6875 24.480469c-41.929688 2.988281-77.589844-30.222656-77.589844-72.257812v-22.886719c0-41.207031 26.90625-77.582031 66.308594-89.644531l135.9375-41.617188c-8.828125-7.304688-20.347657-15.953125-34.316407-24.59375-57.839843-35.777344-112.175781-43.3359375-147.628906-43.3671875-8.292968-.2109375-140.078125-2.0781245-187.261718 79.7812495-32.054688 55.59375-26.414063 132.34375 16.699218 228.304688h474.839844zm-414.277344-21.230469c-30.855468 0-55.960937-25.105469-55.960937-55.960938s25.105469-55.960937 55.960937-55.960937c30.855469 0 55.960938 25.105468 55.960938 55.960937s-25.105469 55.960938-55.960938 55.960938zm0 0"/><path d="m218.074219 197.101562v26.972657c0 12.652343 5.417969 24.734375 14.871093 33.144531 8.160157 7.261719 18.691407 11.222656 29.503907 11.222656 1.707031 0 3.429687-.101562 5.140625-.300781l229.003906-26.785156c1.0625-.121094 2.101562-.347657 3.101562-.660157 4.820313-1.488281 8.832032-5.039062 10.863282-9.761718 2.257812-5.269532 1.769531-11.320313-1.25-16.128906l-64.167969-114.113282c-4.589844-8.171875-14.113281-12.132812-23.144531-9.621094l-6.488282 1.796876-149.769531 41.546874c-28.0625 7.78125-47.664062 33.5625-47.664062 62.6875zm0 0"/></svg></a></li>
                <li><a href="{{ path('team_index') }}"><svg id="Capa_1" enable-background="new 0 0 512 512" height="25" viewBox="0 0 512 512" width="25" xmlns="http://www.w3.org/2000/svg"><g><path d="m103.195 298.399v69.904h31.999l55.555 49.583v-140.283h-60.642z"/><path d="m220.749 277.603h70.503v158.776h-70.503z"/><path d="m73.195 291.034c0-10.375-8.44-18.815-18.815-18.815h-35.565c-10.375-.001-18.815 8.44-18.815 18.815v77.27h73.195z"/><path d="m256 169.828c12.339 0 23.888 3.444 33.738 9.419h71.885v-43.248h-90.623v-30.378h29.689v-30h-89.378v30h29.689v30.378h-90.624v43.248h71.885c9.851-5.975 21.4-9.419 33.739-9.419z"/><path d="m0 398.303v38.076h166.415l-42.662-38.076z"/><path d="m256 199.828c-19.438 0-35.251 15.813-35.251 35.252v12.523h70.503v-12.523c-.001-19.439-15.814-35.252-35.252-35.252z"/><path d="m345.585 436.379h166.415v-38.076h-123.753z"/><path d="m493.185 272.218h-35.565c-10.375 0-18.815 8.44-18.815 18.815v77.27h73.195v-77.27c0-10.374-8.44-18.815-18.815-18.815z"/><path d="m408.805 368.303v-69.904l-26.912-20.796h-60.642v140.283l55.555-49.583z"/></g></svg></a></li>
            </ul>
        </div>

        <div class="topbar">
            <div class="menu">
                <i class="fas fa-bars"></i>
                <p>{% block titlepage %}{% endblock %}</p>
            </div>
            <div class="search">
                <input class="search-input" type="text" placeholder="Rechercher ..."><i class="fas fa-search"></i>
            </div>


        </div>

        <div class="content">
            {% block body %}
            {% endblock %}
        </div>

    </div>
{% endblock %}